[Unit]
Description=Athenz service identity agent
After=network-online.target
Wants=network-online.target

[Service]
Type=forking
User=root
Group=root
WorkingDirectory=/var/run/athenz
PIDFile=/var/run/athenz/athenz-sia.pid
ExecStart=source /var/run/athenz-sia.env && /usr/bin/athenz-sia
# If your systemd is newer than 231, you should use `Special executable prefixes` instead of `PermissionStartOnly`.
PermissionsStartOnly=true
# If the User=/Group= is changed, the WorkingDirectory ownership should be changed as well.
ExecStartPre=/bin/sh -c '/usr/bin/install -m 755 -o $USER -g `id -g $USER` -d /var/run/athenz'
# CentOS 7 clean up `/var/run` on restart, so this unit make `/var/run/athenz` while pre start.
ExecStartPre=/bin/sh -c '/usr/bin/install -m 755 -o $USER -g `id -g $USER` -d /var/run/athenz'
KillMode=process
Restart=always
RestartSec=5s
LimitNOFILE=65536
StartLimitInterval=60s
StartLimitBurst=3
SuccessExitStatus=143 0

[Install]
WantedBy=multi-user.target
